@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.hero{
  height: 80vh;
  

}


.shop_img-one {
  height: 200px !important;
}

.about {
  height: 60vh;
  background-color: black;
}
.hero3{
  
  background-color: white !important;
  box-shadow: 10px 5px 20px red;
  margin-top: 20px;
}

.new{
  height: 70vh;
  background-color: gold;
}
.product{

  background-color: whitesmoke;

}
.del{
  /* background-color: red; */
}
.neww.newproduct{
  background-color: whitesmoke;
  border-radius: 0.31rem;
  color: black;
  font-size: 15px;
  letter-spacing: 0.015rem;
  line-height: 1.563rem;
  padding: 0.125rem;
  text-transform: uppercase;
  position: absolute;
  left: 1rem;
  top: 1.88rem;
  z-index: 99;
}
.footer{
  background-color: black;
}
.footer i{
  color: white;
  font-size: 28px;
}