@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer{
  background-color: black;
}
.footer i{
  color: white;
  font-size: 28px;
}